*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(0, 0, 0);
    height: 25vh;
    overflow: hidden;
    
}
header video{
    width: 80%;
    margin: 0 auto;
    display: block;
}
main{
    height: 80vh;
    background-color: brown;
}