*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(0, 0, 0);
    height: 25vh;
   
    
}
header video{
    height: 100%;
    margin: 0 auto;
    display: block;
}
main{
    
    min-width: 100vw;
    height: 75vh;
    background-image: linear-gradient(to bottom, #ff01bb,white,rgb(2, 116, 174));
    position: relative;
    z-index: 2;
}
.nomeIdade{
    text-align: center;
    position: absolute;
    background-color: blue;
    width: 70vw;
    top: -20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 3;
    padding: 5px;

}
.nomeIdade p{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%);
    background-color: blueviolet;
}

.ilha{
    position: absolute;
    width: 400px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);

}
.stitchi-angel{
    position: absolute;
    bottom: 10px;
    width: 200px;
}